# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib
*.patch
*.rej
*.orig
*.exe
*.x86_64
*.rpm
*.zip
# Test binary, build with `go test -c`
*.test
*.idea
*.vscode
*.DS_Store
coverage.out
coverage.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/build/
/py/build/
/py/dist/
/core/build/
/core/cmake-build-debug/

# Temporary files
confd-idl.h
confd-idl.c
confd-idl.ovsidl
