name: Coverage CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.16.x'

    - name: Generate coverage report
      run: make cover

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.out
        name: codecov
        verbose: true
