name: Ubuntu CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.16.x'

    - name: Building packages
      run: |
        make test
        make linux-bin

